:root {
  --backBright: #eeeeee;
  --blue: #004d96;
}
html,
body,
#root,
.App {
  height: 100%;
}

.projectCard__container {
  transition-duration: 250ms;
}
.projeftCard__container--mobile {
  box-shadow: 1px 1px 4px;
}
.projectCard__container:hover {
  box-shadow: 1px 1px 4px;
}
.animateUnderline {
  color: #004d96;
  text-decoration: none;
  background-image: linear-gradient(var(--backBright), var(--backBright)),
    linear-gradient(var(--backBright), var(--backBright)),
    linear-gradient(var(--blue), var(--blue));
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms linear, background-position 200ms linear;
}
.animateUnderline:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
.gridWide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 4rem;
  width:70%;
  margin:auto
}
.gridWide2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 4rem;
}
.gridNarrow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 4rem;
}
.gridMobile {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 4rem;
}
.aboutWide{
  display:grid;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  width:30%;
  margin:auto
}
.aboutNarrow{
  display:grid;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  width:30%;
  margin:auto;
  column-gap: 1rem;
}
.aboutMobile{
  display:grid;
  justify-items: center;
  width:80%;
  margin:auto;
  row-gap: 1rem;
  margin-bottom:1rem
}
.aboutMobile :nth-child(2){
  grid-area: 1/1/1/1
}
.active {
  color: var(--blue) !important;
}
