:root {
  --backBright: #eeeeee;
  --blue: #004d96;
}
html, body, #root, .App {
  height: 100%;
}
.stackImage {
  height: 2.5rem;
  margin: 1.2rem 1.6rem 0 0;
}
.stackImageBottom {
  height: 2.5rem;
  margin: 1.2rem 1.6rem 1.2rem 0;
}
.projectCard__container {
  transition-duration: 250ms;
}
.projeftCard__container--mobile{
  box-shadow: 1px 1px 4px;
}
.projectCard__container:hover {
  box-shadow: 1px 1px 4px;
}
.animateUnderline {
  color: #004d96;
  text-decoration: none;
  background-image: linear-gradient(var(--backBright), var(--backBright)),
    linear-gradient(var(--backBright), var(--backBright)),
    linear-gradient(var(--blue), var(--blue));
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms linear, background-position 200ms linear;
}
.animateUnderline:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
.gridWide{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  row-gap: 4rem;
}
.gridNarrow{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  row-gap: 4rem;
}
.gridMobile{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 4rem;
}